<div class="classesupload">
    <div class="top">
        <p>Classes</p>
    </div>
    <div class="new-class">
        New classes
    </div>
    <div class="csr2"> 
        <div class="top"> 
          <div class="text"> 
            <div class="org">Live class Series </div>
            <div class="p2">Forex for beginner</div>
          </div><img src="" alt="" srcset=""/>
        </div>
        <div class="bottom"> 
          <div class="cvr">
            <div class="p1">Zoom link : <a href="http://">Zoom</a></div>
            <div class="p2 flex1"><i class="fa-solid fa-calendar-check"></i>Thu, November 10, 2023</div>
            <div class="p2 flex1">
               <i class="fa-regular fa-clock"></i>6:00 PM – 8:00 PM GMT</div>
          </div>
          <div class="price">
            <div class="cvr flex2">
              <img src="" alt="" srcset="">
              <div class="p1">Dchessking</div>
            </div>
          </div>
        </div>
      </div>
</div>