doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Document
    link(rel='stylesheet', href='/public/index.css')
    script(src='https://kit.fontawesome.com/0b68ed503d.js', crossorigin='anonymous')
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap', rel='stylesheet')


  body
    header
      .cvr
        .name ZedapexAcademy
        .btn-cvr 
          button#dark(onclick='toggleColor()') 
            <i class="fa-solid fa-moon"></i>
          button
            a(href='/enroll') Enroll
        .img
        
    .home
      .cvr
        .texts
          .head Become a renowned trader with ZedapexAcademy
          .sc-text Join our live class to become that trader you have always inspire to become
          button Enroll
        img(src="https://geeksui.codescandy.com/geeks/assets/images/hero/hero-img.png", alt="", srcset="")
    
    .features
      .cvr
        .cvr2
          .image 
            <i class="fa-solid fa-user"></i>
          .texts
            .first Over 100 Students
            .second Enjoy a variety of fresh topics
        .cvr2
          .image
            <i class="fa-solid fa-user"></i>
          .texts
            .first Over 100 Students
            .second Enjoy a variety of fresh topics
        .cvr2
          .image
            <i class="fa-solid fa-user"></i>
          .texts
            .first Over 100 Students
            .second Enjoy a variety of fresh topics
    
    .offer
      .t1 Live classes we offer
      .t2 We offer a series of classes you can choode from
      .crs-cvr
        .csr2 
          .top 
            .text 
              .org Live class Series 
              .p2 Forex for beginner
            img(src="", alt="", srcset="")
          .bottom 
            .cvr
              .p1 This course consists of basic forex knowledge for beginners
              .p2.flex1
                i.fa-solid.fa-calendar-check
                | Thu, November 10, 2023
              .p2.flex1 
                <i class="fa-regular fa-clock"></i>
                |6:00 PM – 8:00 PM GMT

            .price
              .cvr.flex2
                .p2 <i class="fa-solid fa-naira-sign" style='margin:0'></i>30000
                .p1 Enroll

        .csr2 
          .top 
            .text 
              .org Live class Series 
              .p2 Forex for beginner
            img(src="", alt="", srcset="")
          .bottom 
            .cvr
              .p1 This course consists of basic forex knowledge for beginners
              .p2.flex1
                i.fa-solid.fa-calendar-check
                | Thu, November 10, 2023
              .p2.flex1 
                <i class="fa-regular fa-clock"></i>
                |6:00 PM – 8:00 PM GMT

            .price
              .cvr.flex2
                .p2 <i class="fa-solid fa-naira-sign" style='margin:0'></i>30000
                .p1 Enroll

        .csr2 
          .top 
            .text 
              .org Live class Series 
              .p2 Forex for beginner
            img(src="", alt="", srcset="")
          .bottom 
            .cvr
              .p1 This course consists of basic forex knowledge for beginners
              .p2.flex1
                i.fa-solid.fa-calendar-check
                | Thu, November 10, 2023
              .p2.flex1 
                <i class="fa-regular fa-clock"></i>
                |6:00 PM – 8:00 PM GMT

            .price
              .cvr.flex2
                .p2 <i class="fa-solid fa-naira-sign" style='margin:0'></i>30000
                .p1 Enroll


        .csr
          .p1 Cryptocurrency
          .p2 This course consists of basic forex knowledge for beginners
        .csr
          .p1 Forex for business
          .p2 This course consists of basic forex knowledge for beginners
    
    .physical
      .img
        iframe(width='620', height='350', src='https://www.youtube.com/embed/le-m9F8oaUI?si=aRhhLNJ3moZyob-H', title='YouTube video player', frameborder='0', allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share', allowfullscreen='', style='margin: 50px 0;')
      .texts
        .p1 Learn latest Skills; Advance your career
        .p3
          |Here's an into video of what you would learn in our course.
        button(style='margin-top: 20px;') Enroll Now

    .third1
      .p3 Trade Better
      .p1
        .Zedapex(style='display: inline-block') Zedapexacademy
        |  is trusted by thousands of traders worldwide.
      p.p2
        | Experience unparalleled trading precision with our advanced algorithmic
        | trading bot, tailored to optimize your investment strategies and
        | maximize returns.
      .flex
        .cvr
          .p1 100+
          .p2
            | Traders on the platform
        .cvr
          .p1 30
          .p2
            | Day Satisfaction Guarantee
        .cvr
          .p1 100%
          .p2
            | Fully Automated Expert Advisor Mt4/MT5
        .cvr
          .p1 $100+
          .p2
            | Start with $100 balance upwards

    .pre-rec
      .text
        | Get access to Zedapex prerecorded video
      .t2 If you're intrested in our pre-recorded videos, get acces to our pre-recorded videos below
      button Get Access


    .flex3
      .cvr-ctr
        .p1 GET THINGS DONE
        .p2 Just try it out! You’ll fall in love
        .p3 Designed for modern companies looking to launch a simple, premium and modern website and apps.
        button Get early access


    footer 
      .container 
        .cvr 
          a(href="http://", target="_blank", rel="noopener noreferrer") About
          a(href="http://", target="_blank", rel="noopener noreferrer") Terms &amp; Condition
          a(href="http://", target="_blank", rel="noopener noreferrer") Get Support
        .socials 
        span
          | &copy; 
          span#copyright
            script.
              document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
          |  Geeks-UI, Inc. All Rights Reserved 

    script(src="public/handledark.js") 


