body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "poppins";
  color: var(--white);
  background-color: var(--main-color2);
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: unset;
}

button {
  padding: 8px 25px;
  font-size: 15px;
  background-color: #6366f1;
  border-radius: 5px;
  font-family: "poppins";
  border: none;
  outline: none;
  color: white;
}

div {
  padding: 0;
  margin: 0;
}

.flex1 {
  display: flex;
  align-items: center;
}

.flex3 {
  display: flex;
  justify-content: center;
}

.flex2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

:root {
  --main-color: #1E293B;
  --main-color2:#0F172A;
  --main-color3:#0B1324;
  --white: white;
}

header {
  padding: 10px;
  background-color: var(--main-color);
  color: var(--white);
}
header .cvr {
  margin: 10px;
  display: flex;
  align-items: center;
  position: relative;
}
header .btn-cvr {
  position: absolute;
  right: 5%;
}
header #dark {
  background-color: #0B1324;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  padding: 0;
  margin-right: 10px;
}
header button {
  padding: 8px 30px;
}
header .img {
  right: 10px;
  position: absolute;
  border-radius: 40px;
  height: 40px;
  background-color: rgb(107, 73, 103);
  width: 40px;
}
header .name {
  font-size: 20px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.home {
  background-color: #754FFE;
  height: 400px;
}
.home .cvr {
  display: flex;
  align-items: center;
  max-width: 1350px;
  height: 400px;
  margin: auto;
  padding: 0 130px;
}
.home .cvr .texts {
  width: 50%;
}
.home .cvr .head {
  font-size: 36px;
  font-weight: bold;
  color: white;
}
.home .cvr .sc-text {
  font-size: 20px;
  color: #C6CDDC;
  margin: 10px 0 20px 0;
}
.home .cvr button {
  color: var(--main-color);
  padding: 5px 40px;
  font-size: 17px;
  background-color: var(--white);
}
.home .cvr img {
  height: 100%;
}

.features {
  background-color: var(--main-color3);
}
.features .cvr {
  max-width: 1350px;
  margin: auto;
  padding: 20px 130px;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.features .cvr .cvr2 {
  display: flex;
  align-items: center;
}
.features .cvr .image {
  height: 50px;
  width: 50px;
  font-size: 19px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  background-color: #77a08f;
}
.features .cvr .first {
  font-weight: bold;
}
.features .cvr .second {
  color: #C6CDDC;
  font-size: 16px;
}

.offer {
  max-width: 1350px;
  margin: auto;
  padding: 70px 130px;
}
.offer .t1 {
  font-size: 25px;
  font-weight: bold;
}
.offer .t2 {
  margin: 10px 0 50px 0;
}
.offer .crs-cvr {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.offer .crs-cvr .csr {
  display: none;
  border-radius: 10px;
  width: 210px;
  background-color: var(--main-color);
  padding: 30px 50px;
  height: 170px;
}
.offer .crs-cvr .csr .p1 {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 10px;
}
.offer .crs-cvr .csr2 {
  height: 300px;
  width: 340px;
}
.offer .crs-cvr .csr2 .top {
  background-color: #6366f1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.offer .crs-cvr .csr2 .top .org {
  font-size: 14px;
  color: orange;
}
.offer .crs-cvr .csr2 .top .p2 {
  font-size: 22px;
}
.offer .crs-cvr .csr2 .bottom {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--main-color);
}
.offer .crs-cvr .csr2 .bottom .cvr {
  padding: 30px 20px;
}
.offer .crs-cvr .csr2 .bottom .cvr .p1 {
  font-size: 17px;
  margin-bottom: 20px;
}
.offer .crs-cvr .csr2 .bottom .cvr i {
  margin-right: 10px;
}
.offer .crs-cvr .csr2 .bottom .cvr .p2 {
  font-size: 14px;
  margin-bottom: 10px;
}
.offer .crs-cvr .csr2 .bottom .price {
  border-top: 1px solid rgb(88, 88, 88);
}
.offer .crs-cvr .csr2 .bottom .price .cvr {
  padding: 20px 20px;
}
.offer .crs-cvr .csr2 .bottom .price .cvr .p1 {
  margin: 0;
}
.offer .crs-cvr .csr2 .bottom .price .cvr .p2 {
  font-size: 22px;
  margin: 0;
}

.pre-rec {
  max-width: 1350px;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  background-color: var(--white);
  margin: 30px 130px;
  padding: 80px;
  color: var(--main-color3);
}
.pre-rec .t2 {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 30px;
}
.pre-rec .text {
  font-size: 40px;
  font-weight: bold;
  margin: 30px 0;
}

.cvr-ctr {
  text-align: center;
  width: 50%;
  margin: auto;
  margin: 100px 0;
}
.cvr-ctr .p1 {
  color: orange;
  font-weight: bold;
}
.cvr-ctr .p2 {
  font-size: 45px;
  margin: 10px 0;
  font-weight: bold;
}
.cvr-ctr .p3 {
  font-size: 18px;
  margin-bottom: 20px;
  color: #64748B;
}

.physical {
  margin: 100px 130px 100px 130px;
  display: flex;
  align-items: center;
}
.physical .texts {
  margin: 0px 0 0 50px;
}
.physical .texts .p1 {
  font-size: 36px;
  margin-bottom: 20px;
  font-weight: bold;
}
.physical .texts .p2 {
  font-size: 25px;
}

.third1 {
  margin: 130px;
}
.third1 .p1 {
  font-size: 35px;
  width: 45%;
  font-weight: bold;
}
.third1 .p2 {
  width: 60%;
  color: #64748B;
}
.third1 .p3 {
  font-size: 17px;
  font-weight: bold;
  color: orange;
}
.third1 .flex {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.third1 .flex .cvr {
  padding-left: 20px;
  border-left: 1px solid #243252;
}

footer {
  border-top: 0.5px solid var(--main-color);
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 50px;
  margin: 50px 0 30px 0;
  color: #64748B;
}
footer .cvr {
  width: 400px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

@media only screen and (max-width: 820px) {
  button {
    padding: 8px 20px;
    font-size: 15px;
    background-color: #6366f1;
    border-radius: 5px;
    font-family: "poppins";
    border: none;
    outline: none;
    color: white;
  }
  header .btn-cvr {
    position: absolute;
    right: 0;
  }
  header .name {
    font-size: 15px;
  }
  header .img {
    display: none;
  }
  header button {
    padding: 8px 15px;
  }
  .home {
    background-color: #754FFE;
    height: unset;
  }
  .home .cvr {
    display: block;
    height: unset;
    padding: 30px 20px;
    padding-bottom: 0;
  }
  .home .cvr .texts {
    width: unset;
  }
  .home .cvr .head {
    font-size: 25px;
  }
  .home .cvr .sc-text {
    font-size: 15px;
  }
  .home .cvr button {
    color: var(--main-color);
    padding: 5px 40px;
    font-size: 17px;
    background-color: var(--white);
  }
  .home .cvr img {
    width: 100%;
    height: unset;
    margin-top: 40px;
  }
  .features {
    background-color: var(--main-color3);
  }
  .features .cvr {
    padding: 10px 20px;
    display: block;
  }
  .features .cvr .cvr2 {
    display: flex;
    align-items: center;
    margin: 25px 0;
  }
  .features .cvr .image {
    height: 40px;
    width: 40px;
    font-size: 15px;
  }
  .features .cvr .first {
    font-weight: bold;
    font-size: 17px;
  }
  .features .cvr .second {
    color: #C6CDDC;
    font-size: 14px;
  }
  .offer {
    padding: 70px 20px;
  }
  .offer .t1 {
    font-size: 25px;
    font-weight: bold;
  }
  .offer .t2 {
    margin: 10px 0 50px 0;
  }
  .offer .crs-cvr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: scroll;
    height: -moz-fit-content;
    height: fit-content;
    width: 300px;
  }
  .offer .crs-cvr .csr2 {
    height: 350px;
    min-width: 340px;
  }
  .physical {
    margin: 50px 20px;
    display: block;
  }
  .physical .texts {
    margin: 0px;
  }
  .physical .texts .p1 {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  .physical .texts .p2 {
    font-size: 20px;
  }
  iframe {
    max-width: 100%;
    height: 225px;
    border-radius: 7px;
  }
  .third1 {
    margin: 130px 20px;
  }
  .third1 .p1 {
    font-size: 30px;
    width: unset;
    font-weight: bold;
  }
  .third1 .p2 {
    width: unset;
    font-size: 17px;
    color: #64748B;
  }
  .third1 .p3 {
    font-size: 17px;
    font-weight: bold;
    color: orange;
  }
  .third1 .flex {
    margin-top: 50px;
    display: block;
  }
  .third1 .flex .cvr {
    padding-left: 20px;
    border-left: 1px solid #243252;
    margin-top: 20px;
  }
  .pre-rec {
    margin: 30px 20px;
    padding: 20px;
  }
  .pre-rec .t2 {
    font-size: 17px;
  }
  .pre-rec .text {
    font-size: 30px;
  }
  .cvr-ctr {
    width: 90%;
  }
  .cvr-ctr .p2 {
    font-size: 30px;
    margin: 10px 0;
    font-weight: bold;
  }
  .cvr-ctr .p3 {
    font-size: 17px;
    margin-bottom: 20px;
    color: #64748B;
  }
  footer {
    border-top: 0.5px solid var(--main-color);
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 50px;
    margin: 50px 0 30px 0;
    color: #64748B;
  }
  footer .cvr {
    width: 300px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
}/*# sourceMappingURL=index.css.map */