<div class="chat">
    <div class="left-chat">
        <div class="chat">Chat</div>
        <div class="groups">
            <div class="group">
                Online-Class 
            </div>
            <div class="group">
                Online-Class 
            </div>
            <div class="group">
                Online-Class 
            </div>
            <div class="group">
                Online-Class 
            </div>
        </div>
    </div>
    <div class="right-chat">
        <div class="top">Online Class</div>
        <div id="messages">
            <div class="cvr">
                <p>asw</p>
                <div class="message">
                    Hello 
                </div>
            </div>
            
        </div>
        <form id="form" action="">
            <input id="input" autocomplete="off" type="text" placeholder="Enter Text">
            <i class="fa-solid fa-paper-plane i"></i>
        </form>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io();

    // Load previous messages
    socket.on('load old messages', function(messages) {
        messages.forEach(function(message) {
            var item = document.createElement('div');
            item.className = 'cvr';

            var name = document.createElement('p');
            var mainmessage = document.createElement('div')
            mainmessage.className ='message';

            item.append(name , mainmessage);

            name.textContent= message.user;
            mainmessage.textContent =message.content
            
            document.getElementById('messages').appendChild(item);
        });
    });

    // New message submission
    document.getElementById('form').addEventListener('submit', function(e) {
        e.preventDefault();
        if (document.getElementById('input').value) {
            socket.emit('chat message', document.getElementById('input').value);
            document.getElementById('input').value = '';
        }
    });

    // Listen for new messages
    socket.on('chat message', function(message) {
        var item = document.createElement('li');
        item.textContent = message.user + ': ' + message.content;
        document.getElementById('messages').appendChild(item);
    });
</script>

