<div class="classesupload">
    <form action="">
        <div class="cvr">
            <div class="sign">Create coupon</div>
            <div class="input-main">
                <p>Coupon name</p>
                <input type="text" name="username" id="" placeholder="Username" />
            </div>
            <div class="input-main">
                <p>% OFF</p>
                <input type="text" name="username" id="" placeholder="Username" />
            </div>
            <div class="cvr1">
                <div class="header1">Choose Product</div>
                <select name="userclass" id="userclass">
                    <option value="all">All Users</option>
                    <option value="all">Online Users</option>
                    <option value="all">Physical Users</option>
                </select>
            </div>

            <button style="width: 100%;">Send Class Link</button>
                
        </div>

    </form>
</div>