<div class="dashboard">

    <div class="top">
        <p>Dashboard</p>
    </div>
    <div class="bubbles flex2">
        <div class="cvr">
            <div class="flex2">
                <p>Sales </p><i class="fa-solid fa-bag-shopping"></i>
            </div>
            <div class="price">N200000 </div>
        </div>
        <div class="cvr">
            <div class="flex2">
                <p>Students</p><i class="fa-solid fa-bag-shopping"></i>
            </div>
            <div class="price">200</div>
        </div>
        <div class="cvr">
            <div class="flex2">
                <p>Online </p><i class="fa-solid fa-bag-shopping"></i>
            </div>
            <div class="price">12000 </div>
        </div>
        <div class="cvr">
            <div class="flex2">
                <p>Sales </p><i class="fa-solid fa-bag-shopping"></i>
            </div>
            <div class="price">N200000 </div>
        </div>
    </div>
</div>